.happyClient__content{
    background-image: url("/images/rating.png") !important;
    background-repeat: no-repeat !important;
    /*background: linear-gradient(86deg, #0E7C72 -17.41%, #2CBE65 110.89%) !important;*/
    z-index: 100;
    height: 100%;
    padding: 5% 0%;
    background-position: right top;
}

@media only screen and (max-width: 950px) {
    .happyClientLeft{
        width: 100% !important;
        text-align: center;
    }
}
